In [4]:
import pymysql

server = pymysql.connect(host= 'localhost', user= "root", passwd="Mohammad74")

In [9]:
cursor = server.cursor()
sql = "CREATE DATABASE IF NOT EXISTS test_python_connection"
cursor.execute(sql)
sql = "USE test_python_connection"
cursor.execute(sql)

0

In [21]:
sql = ''' Create TABLE IF NOT EXISTS owners(id integer NOT NULL AUTO_INCREMENT,
                                            name varchar(30) NOT NULL,
                                            gender varchar(7),
                                            phone varchar(10),
                                            PRIMARY KEY(id));'''
cursor.execute(sql)

0

In [29]:
sql = """CREATE TABLE IF NOT EXISTS pets(pet_id integer NOT NULL AUTO_INCREMENT,
                                            owner_id integer,
                                            name varchar(30) NOT NULL,
                                            gender varchar(7),
                                            species varchar(20),
                                            color varchar(10),
                                            age integer,
                                            PRIMARY KEY(pet_id),
                                            FOREIGN KEY(owner_id) REFERENCES owners(id));"""
cursor.execute(sql)

0

In [32]:
sql = 'show tables'
cursor.execute(sql)
cursor.fetchall()

(('owners',), ('pets',))

In [53]:
def load_owners(cursor):
    owners_data = open('owners.txt')
    for rowline in owners_data:
        row = rowline.split(',')
        sql = "INSERT INTO owners(name,gender,phone) VALUES('{}','{}','{}');".format(row[0],row[1],row[2])
        cursor.execute(sql)
    cursor.execute('SELECT * from owners;')
    print(cursor.fetchall())
    
def load_pets(cursor):
    pets_data = open('pets.txt')
    for rowline in pets_data:
        row = rowline.split(',')
        cursor.execute("INSERT INTO pets(owner_id,name,gender,species,color,age) VALUES((SELECT id FROM owners WHERE id = '{}'),'{}','{}','{}','{}','{}');" .format(row[0],row[1],row[2],row[3],row[4],row[5]))
    cursor.execute('SELECT * from pets;')
    print(cursor.fetchall())
        
if __name__ == '__main__':
    db = pymysql.connect(host= 'localhost', user= "root", passwd="Mohammad74", db = 'test_python_connection')
    cursor = db.cursor()
    load_owners(cursor)
    load_pets(cursor)
    db.commit()
    db.close()

((17, 'David', 'Male', '111-11111\n'), (18, 'Rebeca', 'Female', '222-22222'))
((1, None, 'hulk', 'male', 'golden', 'retriever', 0), (2, None, 'princess', 'female', 'corgrie', 'brown', 2))

In [101]:
class Datab():
    def __init__(self,databaseName,servername,username,password):
        self.n = databaseName
        db = pymysql.connect(host = servername, user = username, passwd = password)
        cursor = db.cursor()
        self.cursor = cursor
        cursor.execute("CREATE DATABASE IF NOT EXISTS {}".format(self.n))
        cursor.execute("USE {}".format(self.n))
        
    def addTable(self,tablename,**columns):
        sql = "CREATE TABLE IF NOT EXISTS "+tablename+" ("
        for c,t in columns.items():
            sql+= "%s %s, "%(c,t)
        sql = sql[:-2]+");"
        self.cursor.execute(sql)
    
    def addElement (self, tablename, **values):
        sql = "INSERT INTO "+tablename+" ("
        columns = []
        value = []
        for k,v in values.items():
            columns.append(k)
            value.append(v)
                
        for i in columns:
            sql+= "%s, " %i
            
        sql = sql[:-2]+') VALUES ('
            
        for v in value:
            sql+= "'%s', " %v
            
        sql = sql[:-2] + ");"    
        self.cursor.execute(sql)
            
    def viewTable (self,tabelname):
        self.cursor.execute("SELECT * FROM %s" %tabelname)
        print (self.cursor.fetchall())

In [102]:
newdb = Datab('test_programing_class','localhost','root','Mohammad74')

In [103]:
newdb.addTable("newTable",Id = "int NOT NULL AUTO_INCREMENT PRIMARY KEY", FIRST = 'varchar(40)', Last = 'varchar(40)')

In [105]:
newdb.addElement('newTable', First = 'David', Last = 'Baker')
newdb.addElement('newTable', First = 'creative', Last = 'school')